.active {
    background-color: #007bff; /* Цвет фона активной кнопки */
    color: #fff; /* Цвет текста активной кнопки */
    border-color: #007bff; /* Цвет рамки активной кнопки (если нужно) */
    /* Другие стили, которые вы хотите применить к активной кнопке */
  }

.smile {
    font-size: 80px;
    cursor: pointer;
}